# Banco de dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=curriculum_bd

# Backend
DATABASE_URL=postgresql://postgres:password@db:5432/curriculum_bd

# Frontend
REACT_APP_API_URL=http://localhost:8000
